.invoice.span8{:id => "invoice-#{invoice.id}"}
  .invoice-details
    =hidden_field_tag :invoice_id,invoice.id
    =hidden_field_tag :customer_name,invoice.customer.name
  -invoice.checked_out_checkins.each do |c|
    %h3 Shifted Room Checkins
    .checked_out.well{:id => "checked-out-#{c.id}"}
      %span.pull-right
        Checked in on:
        %b.checkin-date=c.from_date.strftime("%d-%m-%y %H:%M")
      %table.table.table-bordered
        %tr
          %th Room
          -if c.discount > 0
            %th Rate 
            %th Discount
          %th Applied Rate
          %th Extra Person
          %th Tax
          %th Total Per Day
          %th No of Days
          %th Amount
        %tr
          %td 
            =c.room.number
          -if c.discount > 0
            %td
              =c.room.room_type.base_rate
            %td
              =c.discount.to_s + " %"
          %td
            =c.rate
          %td
            =c.extra_person
          %td
            10%
          %td
            =c.total_per_day
          %td
            =c.no_of_days
          %td
            =c.total
      %h4 Shifted Room Other Charges
      - Service.all.each do |s|
        %h4 
          =s.name
        %table.services.table.table-bordered
          %tr
            %th Date
            %th Bill Number
            %th Room
            %th Details
            %th Amount
          -c.list_items(s).each do |service_item|
            %tr
              %td
                =service_item.updated_at
              %td
                =service_item.bill_number
              %td
                =service_item.checkin.room.number
              %td
                =service_item.notes
              %td
                =service_item.amount

        .total.pull-right
          =s.name
          Total:
          %b.service_total
            =c.list_item_total(s)
       


  .checkin{:id => "checkin-#{checkin.id}"}
    %h3 
      Current Checkin Details
    .well.checkin-details
      %p
        Name: 
        %b.customer-name=checkin.customer.name
        %span.pull-right
          Checked in on:
          %b.checkin-date=checkin.from_date.strftime("%d-%m-%y %H:%M")
          =link_to edit_lodge_checkin_path(checkin), :remote => :true  do 
            %button.btn-primary.btn-mini.btn
              %i.icon-edit.icon-white 
             
      %table.table.table-bordered
        %tr
          %th Room
          -if checkin.discount > 0
            %th Rate 
            %th Discount
          %th Applied Rate
          %th Extra Person
          %th Tax
          %th Total Per Day
          %th No of Days
          %th Amount
        %tr
          %td 
            =checkin.room.number
          -if checkin.discount > 0
            %td
              =checkin.room.room_type.base_rate
            %td
              =checkin.discount.to_s + " %"
          %td
            =checkin.rate
          %td
            =checkin.extra_person
          %td
            10%
          %td
            =checkin.total_per_day
          %td
            =checkin.no_of_days
          %td
            =checkin.total
      %small
        /=link_to lodge_shift_room_path(:id => checkin.id) do
        %button.btn-primary.btn-mini.btn.shift_room{:id => "shift-room-#{checkin.id}"}
          %i.icon-share-alt.icon-white
          Shift Room

    %h3 Other Charges
    - Service.all.each do |s|
      .well.services{:id => "service-#{s.id}"}
        %h4
          %span.service-name=s.name
          %a.btn.btn-mini.btn-primary.pull-right.add_service{:href => "##{s.id}"}
            %i.icon-plus-sign.icon-white
            Add
        %table.table.table-bordered
          %tr
            %th
            %th Date
            %th Bill Number
            %th Room
            %th Details
            %th Amount
          =render :partial => "lodge/service_items/service_item", :collection => checkin.list_items(s)
        .total.pull-right
          =s.name
          Total:
          %b.service_total
            =checkin.list_item_total(s)
            
  %h3 Payments
  .well.payments
    %a.btn.btn-mini.btn-primary.add_payment.pull-right
      %i.icon-plus-sign.icon-white 
      Add
    %table.table.table-bordered
      %tr
        %th
        %th Date
        %th Payment
        %th Amount
      -invoice.payments.each do |p|
        %tr.payment_row{:id=>"#{p.id}"}
          %td
            =link_to payment_path(p.id), :method => :delete, :remote => true do
              %i.icon-remove
          %td
            =p.updated_at
          %td
            =p.payment_method.name
          %td
            =p.amount
    .total.pull-right
      Payments Total:
      %b.total_payments
        =invoice.payments.sum(:amount)
  %h3 Total 
  .well.total_charges
    %table.table.table-bordered
      %tr
        %th Room Charges
        %td.room_charges
          =invoice.room_total
      %tr
        %th Other Charges
        %td.other_charges
          =invoice.total_other_charges
      %tr
        %th Total Charges
        %td.grand_total
          =invoice.grand_total
      %tr
        %th Total Payments
        %td.total_payments
          =invoice.payments.sum(:amount)
      %tr
        %th Total Pending
        %td.total_pending
          =invoice.grand_total - invoice.payments.sum(:amount)

  =button_tag "Checkout", {:class => "btn btn-large btn-primary span3 checkout-button", :id => "checkout-#{invoice.id}"}
  =button_tag "Print Bill", {:class => "btn btn-large btn-primary span3 print-button", :id => "print-#{invoice.id}"}

