 
.checkin.span8{:id => "checkin-#{checkin.id}"}
  %h3 Checkin Details
  .well
    %p
      Name: 
      %b=checkin.customer.name
      %span.pull-right
        Checked in on:
        =checkin.from_date
        %a.btn.btn-mini.btn-primary.edit-checkin{:href => "##{checkin.id}"}
          %i.icon-edit.icon-white 
          %b
           

    %table.table.table-bordered
      %tr
        %th Room
        %th Rate
        %th Discount
        %th Applied Rate
        %th Extra Person
        %th Tax
        %th Total Per Day
        %th No of Days
        %th Amount
      -if checkin.invoice.nil?
        %tr
          %td 
            =checkin.room.number
          %td
            =checkin.room.room_type.base_rate
          %td
            =checkin.discount
          %td
            =checkin.rate
          %td
            =checkin.extra_person
          %td
            10%
          %td
            =checkin.total_per_day
          %td
            =checkin.no_of_days
          %td
            =checkin.total
  %h3 Other Charges
  - Service.all.each do |s|
    .well.services{:id => "service-#{s.id}"}
      %h4
        =s.name
        %a.btn.btn-mini.btn-primary.pull-right.add_service{:href => "##{s.id}"}
          %i.icon-plus-sign.icon-white
          Add
      %table.table.table-bordered
        %tr
          %th
          %th Date
          %th Bill Number
          %th Details
          %th Amount
        =render :partial => "lodge/service_items/service_item", :collection => checkin.list_items(s)
      .total.pull-right
        =s.name
        Total:
        %b.service_total
          =checkin.list_item_total(s)
  %h3 Total Charges          
  .well.total_charges
    %table.table.table-bordered
      %tr
        %th Room Charges
        %td.room_charges
          =checkin.total
      %tr
        %th Other Charges
        %td.other_charges
          =checkin.total_other_charges
      %tr
        %th Total
        %td.grand_total
          =checkin.grand_total
          
  %h3 
    Payments
   
  .well.payments
    %a.btn.btn-mini.btn-primary.add_payment.pull-right
      %i.icon-plus-sign.icon-white 
      Add
    %table.table.table-bordered
      %tr
        %th
        %th Date
        %th Payment
        %th Amount
      -checkin.payments.each do |p|
        %tr.payment_row{:id=>"#{p.id}"}
          %td
            =link_to payment_path(p.id), :method => :delete, :remote => true do
              %i.icon-remove
          %td
            =p.updated_at
          %td
            =p.payment_method.name
          %td
            =p.amount
    .total.pull-right
      Payments Total:
      %b.total_payments
        =checkin.payments.sum(:amount)
  =button_tag "Checkout", {:class => "btn btn-large btn-primary span3"}
  =button_tag "Print Bill", {:class => "btn btn-large btn-primary span3"}
