#room_tabs.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#overview", "data-toggle" => "tab"}
        Overview
    -@rooms.each do |r|
      %li
        =link_to "#room#{r.number}",  {"data-toggle" => "tab"} do

          ="#{r.number}"
          - if not r.status.nil?
            %i.icon-user
            =r.current_checkin.customer.name

  .tab-content{:style => "display:block"}
    .tab-pane.active{:id => "overview"}
      .span4
        .well
          %h2 Available Rooms
          =select_tag "room_type", options_from_collection_for_select(@room_types,:id,:name_base_rate), :class => "span3"
          -@room_types.each_index do |i|
            .room_type{:style => "#{i == 0 ? '' : 'display:none'}", :id => "rt#{@room_types[i].id}"}
              - j = 0
              %table.table.table-striped
                -@room_types[i].vacant_rooms.each do |r|
                  - j = j + 1
                  %tr.vacant_room
                    %td
                      #{j}
                    %td
                      %h4
                        =r.number
                    %td
                      %button.checkin-now.btn.btn-primary.pull-right{:id => "checkin#{r.id}"}
                        Checkin



    -@rooms.each do |r|
      .tab-pane.room_tab{:id => "room#{r.number}"}
        -if r.status.nil?
          - c = Checkin.new
          - c.room = r
          - c.rate = r.room_type.base_rate
          - customer = Customer.new
          =render :partial => "lodge/checkins/new", :locals => {:room => r, :checkin => c, :customer => customer}
        -else
          =render :partial => "lodge/checkins/show",:locals => {:checkin => r.current_checkin, :invoice => r.current_checkin.invoice}
      

.tax.hidden
  #luxury_tax_1
    =APP_CONFIG["hotel_luxury_tax1"]
  #luxury_tax_2
    =APP_CONFIG["hotel_luxury_tax1"]
  #service_tax
    =APP_CONFIG["service_tax"]
#service_form.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3
      Add Item
  .modal-body
    =form_for :service_item, :url => lodge_add_service_item_url,:remote => true, :html => {:id => "service_item_form", :class => "form-horizontal"} do |f|
      =f.hidden_field :service_id
      =f.hidden_field :checkin_id 
      .control-group
        %label.control-label Amount
        .controls
          =f.text_field :amount
      .control-group
        =f.label :bill_number, :class => "control-label"
        .controls
          =f.text_field :bill_number
      .control-group
        =f.label :date, :class => "control-label"
        .controls.form-inline
          =select_day( Date.today,{},{ :class => "span1 inline"})
          -
          =select_month( Date.today,{},{ :class => "span1 inline"})
          &nbsp;
          Time
          =select_hour( Time.now,{},{ :class => "span1 inline"})
          \:
          =select_minute( Time.now,{},{:class => "span1 inline"})


      .control-group
        =f.label :Notes,:class => "control-label"
        .controls
          =f.text_area :notes, :rows => 5
  .modal-footer
    =image_tag "smallloading.gif",:class => "pull-left hide", :id => "item_loader"
    %a.btn{"data-dismiss" => "modal"} Close
    %a#save_service_item.btn.btn-primary Save Changes

  
 
#delete_service.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3
      Delete Item
  .modal-body
    =form_tag lodge_delete_service_item_url, :id => "delete_service_item_form", :method => :delete, :remote => true do
      =hidden_field_tag "delete_service_item_id"
    Are you sure?
  .modal-footer
    =image_tag "smallloading.gif",:class => "pull-left hide", :id => "delete_item_loader"
    %a.btn{"data-dismiss" => "modal"} Cancel
    %a#delete_service_item.btn.btn-primary Delete


#pay_dialog.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Add Payment
  .modal-body
    =form_for @payment, :remote => true do |f|
      =f.select :payment_method_id, options_from_collection_for_select(PaymentMethod.all, :id, :name,2)
      =f.text_field :amount
      %span#total_remaining
      =f.hidden_field :owner_id
      =f.hidden_field :owner_type
  .modal-footer
    =image_tag "smallloading.gif",:class => "pull-left hide", :id => "add_payment_loader"
    %a.btn{"data-dismiss" => "modal"} Cancel
    %a#add_payment_submit.btn.btn-primary Add Payment

#delete_pay_dialog.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Delete Payment
  .modal-body
    =form_for @payment, :remote => true do |f|
      =f.select :payment_method_id, options_from_collection_for_select(PaymentMethod.all, :id, :name,2)
      =f.text_field :amount
      %span#total_remaining
      =f.hidden_field :owner_id
      =f.hidden_field :owner_type
  .modal-footer
    =image_tag "smallloading.gif",:class => "pull-left hide", :id => "add_payment_loader"
    %a.btn{"data-dismiss" => "modal"} Cancel
    %a#add_payment_submit.btn.btn-primary Add Payment

#shift_room_dialog.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Shift Room
  .modal-body
    =form_tag lodge_shift_room_url, :id => "shift_room_form", :method => "put" do
      =hidden_field_tag :shift_room_checkin_id
      =select_tag :room_list

  .modal-footer
    =image_tag "smallloading.gif",:class => "pull-left hide", :id => "add_payment_loader"
    %a.btn{"data-dismiss" => "modal"} Cancel
    %a#shift_room_submit.btn.btn-primary Shift Room


#print_dialog.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Print Bill
  .modal-body
    Do you want to print bill in name of  
    %span.customer-name
    ?
    %a{:href => "#", :id => "change_customer"} [Change Billing Guest]
    #print_form.hide
      %fieldset
        %legend Add Guest
        .control-group
          %label.control-label Name
        .controls
          =text_field_tag "name",'',:placeholder => "First-Name Last-Name", :required => true
        .control-group
          %label.control-label Address
          .controls
            =text_area_tag "address",'',:placeholder => "Address", :required => true, :rows => 3
        .control-group
          %label.control-label Phone
          .controls
            =telephone_field_tag "phone",'',:placeholder => "Mobile", :required => true
        .control-group
          %label.control-label Photo
          .controls
            %input#fileInput.input-file{:type => "file"}
      %button#submit_invoice_customer.btn.btn-primary Change Customer

    =hidden_field_tag "print_invoice_id"
    =hidden_field_tag :print_checkin_id 
  .modal-footer
    =image_tag "smallloading.gif",:class => "pull-left hide", :id => "add_payment_loader"
    %a.btn{"data-dismiss" => "modal"} Cancel
    %a#add_invoice_submit.btn.btn-primary Print


#hotel-details.hide
  #header{:style => "clear:both;width:100%;overflow:auto;"}
    .logo{:style => "float:left:width:70%;float:left"}
      =image_tag APP_CONFIG['hotel_logo']
     
    .omega{:style => "text-align:right;vertical-align:bottom;width:20%;float:right;"}
      %h1 Invoice
    %br
  %div
    %p.address
      =APP_CONFIG['hotel_address_line1']
      ,&nbsp;
      =APP_CONFIG['hotel_address_line2']
      ,&nbsp;
      =APP_CONFIG['hotel_address_line3']
      %br
      Email:&nbsp;
      =APP_CONFIG['hotel_email']
      ,&nbsp;
      Website:
      =APP_CONFIG['hotel_website']
      ,&nbsp;
      Phone:
      =APP_CONFIG['hotel_phone']



.tax-declaration.hidden
  %hr
  %small
    %b Service Tax No.: 27480571402V 
    * 6.18% service tax applicable above Rs.1000
    %br
    %b Luxury Tax No.: 27480571402L 
    * 4% luxury tax applicable above Rs. 750
    * 10% luxury tax applicable above Rs. 1200
